@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Space+Grotesk:wght@300..700&display=swap");

:root {
  --cor-branca: #ffffff;
  --cor-texto-secundario: #d0d0d0;

  --vinland-sangue: #7a1010;
  --vinland-sangue-vivo: #aa0000;

  --vinland-ouro-viking: #c8a45d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html,
body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 30px;

  overflow: hidden;

  font-family: "Cinzel", serif;

  color: var(--cor-branca);

  background-image: url("./assets/imgs/imagem-fundo-quiz.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}



/* HEADER

.header {
  position: sticky;
  height: var(--tamanho-header);
  background-color: rgba(10, 5, 5, 0.85);
  backdrop-filter: blur(8px);
  border-bottom: 1px solid rgba(170, 0, 0, 0.4);
  top: 0;
  z-index: 100;
  width: 100%;
}

.header .container {
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header a {
  text-decoration: none;
  color: #cccccc;
  transition: color 0.2s;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.04em;
}

.header a:hover {
  color: #aa0000;
}

.agora a,
.agora {
  color: #aa0000 !important;
  font-weight: 900;
  font-size: 16px;
}

.navbar {
  display: flex;
  align-items: center;
  gap: 32px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar .btn-login {
  background-color: transparent;
  border: 1px solid #aa0000;
  border-radius: 5px;
  padding: 6px 16px;
  color: #aa0000 !important;
  transition:
    background-color 0.2s,
    color 0.2s;
}

.navbar .btn-login:hover {
  background-color: #aa0000;
  color: white !important;
}

.navbar .btn-cadastro {
  background-color: #aa0000;
  border-radius: 5px;
  padding: 6px 16px;
  color: white !important;
  transition: opacity 0.2s;
}

.navbar .btn-cadastro:hover {
  opacity: 0.85;
}

.titulo {
  font-family: Cinzel;
  color: #aa0000;
  width: fit-content;
  font-weight: 500;
}

.header h1 {
  margin: 0;
}
*/

.layout-quiz {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

#containerQuiz {
  width: 100%;
  max-width: 1400px;

  padding: 35px;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 22px;

  border-radius: 22px;

  background-color: rgba(0, 0, 0, 0.18);

  box-shadow: 0 0 18px rgba(0, 0, 0, 0.18);
} */

/* TITULO */

.container-titulo-quiz {
  width: 100%;

  display: flex;
  justify-content: center;
}

.conteudo-titulo-quiz {
  text-align: center;
}

.titulo-quiz {
  font-size: 52px;
  font-weight: 700;

  color: var(--vinland-ouro-viking);
}

.subtitulo-quiz {
  font-size: 18px;

  text-align: center;

  color: var(--cor-texto-secundario);

  max-width: 900px;
}

/* PERGUNTA */

.container-pergunta-quiz {
  width: 100%;
  max-width: 1000px;

  padding: 25px;

  border-radius: 18px;

  background-color: rgba(0, 0, 0, 0.35);

  text-align: center;
}

.pergunta-quiz {
  font-size: 28px;
  font-weight: 700;

  color: var(--cor-branca);
}

/* INFO */

.informacoes-alternativas {
  width: 100%;
  max-width: 1000px;

  text-align: left;
}

.texto-info-alternativas {
  font-size: 15px;

  color: var(--cor-texto-secundario);
}

.container-alternativas {
  width: 100%;
  max-width: 1000px;

  display: flex;
  flex-direction: column;

  gap: 14px;
}

.item-alternativa-quiz {
  width: 100%;

  display: flex;
  align-items: center;

  gap: 15px;

  padding: 18px;

  border-radius: 16px;

  background-color: rgba(0, 0, 0, 0.42);

  cursor: pointer;

  transition: 0.2s;
}

.item-alternativa-quiz:hover {
  background-color: rgba(170, 0, 0, 0.4);
}

.radio-quiz {
  width: 20px;
  height: 20px;

  accent-color: var(--vinland-sangue-vivo);

  cursor: pointer;
}

.opcao-quiz {
  width: 100%;

  font-size: 22px;
  font-family: "Barlow", sans-serif;

  color: var(--cor-branca);

  cursor: pointer;
}

.container-botoes-quiz {
  width: 100%;
  max-width: 1000px;

  margin-top: 5px;
}

.botao-quiz {
  width: 980px;

  padding: 18px;

  border: none;
  border-radius: 16px;

  background-color: var(--vinland-sangue-vivo);

  color: var(--cor-branca);

  font-size: 22px;
  font-weight: 700;

  font-family: "Cinzel", serif;

  cursor: pointer;

  transition: 0.2s;
}

.botao-quiz:hover {
  background-color: var(--vinland-sangue);
}

.alternativa-selecionada {
  border: 2px solid var(--vinland-ouro-viking);

  background-color: rgba(200, 164, 93, 0.18);
}